*{
    padding: 0;
    margin: 0;
}
header{
    background-color:#1692cb;
    height: 80px;
    width: 100%;
}
header h1{
    color: white;
    font-size: 40px;
    display: inline;
    top: 0;
    line-height: 80px;
    margin-left: 20px;
    position: absolute;
}
header img{
    height: 75px;
}
header ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}
header li{
    display: inline;
    margin-right: 4vw;
}
header li a{
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
main section .main-page{
    background-image: url(../image/dingzheng.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    align-items: center;
}
main section .main-page #log-in{
    height: 300px;
    width: 200px;
    margin-left: 50px;
    background-color: white;
    border: 2px whitesmoke;
    border-style: ridge;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
main section .main-page #log-in input{
    background-color: transparent;
    border: 1px #bfbfbf solid;
    border-radius: 5px;
    margin: 2px;
    margin-left: 15px;
    width: 150px;
    height: 20px;
    padding: 5px;
}
main section .main-page #log-in button{
    background-color: #39a2e5;
    border: 1px #bfbfbf solid;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    margin: 15px;
    width: 150px;
    height: 30px;
    cursor: pointer;
}
main section .main-page #log-in p{
    font-size: 20px;
    margin: 10px;
    margin-bottom: 50px;
}
main section .main-page #log-in a{
    font-size: 10px;
    margin: 10px;
    text-decoration: none;
}
main section .main-page #log-in a:hover{
    text-decoration: underline;
}
footer{
    background-color: #353a41;
    height: 200px;
    border: #353a41 solid;
}
footer .key{
    color: #878787;
    font-size: 20px;
    margin: 25px;
}
footer .item{
    color: #878787;
    font-size: 14px;
    margin: 25px;
}
footer ul{
    margin-left: 25px;
    line-height: 50px;
}
footer li{
    display: inline;
    margin-right: 4vw;
}
footer li a{
    color: #878787;
    text-decoration: none;
}
